<?xml version="1.0" encoding="utf-8"?>
<toc>
   <tocitem target="index.html">Analog Devices, Inc Transceiver Toolbox
{%- for page in pages %}
      <tocitem target="{{ page }}/index.html">{{ page|capitalize }}</tocitem>
{%- endfor %}
      <tocitem target="objects/index.html">Hardware Interface APIs
{%- for obj in devices %}
          <tocitem target="sysobjects/{{ obj }}/index.html">{{ obj }}</tocitem>
{%- endfor %}
       </tocitem>
   </tocitem>
</toc>
