{% include 'header.tmpl' %}
# HDL Reference Designs

Available hardware streaming interfaces in HSX Toolbox:
<!--
- [{{ obj }}](matlab:web([docroot '/3ptoolbox/analogdevicesinchighspeedconvertertoolboxtoolbox/doc/sysobjects/{{ obj }}/index.html']))
-->

```{eval-rst}
.. toctree::
   :maxdepth: 1
{% for obj in designs %}
   _generated/hdlrefdesigns/{{ obj }}
{%- endfor %}

```



Click on left table of contents for individual component pages.